@{
    ViewData["Title"] = "Home Page";
}


@model MVCAppJsonAjax.Models.Student
 
<div class="text-center">
    @*<input type="button" value="click me" onclick="btnClick()" />
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<form>
    <input type="text" id="Id" />
    <br />
    <input type="text" id="Name" />
    <br />
    <input type="button" onclick="submitClick()" value="send" />
</form>*@
@*/////////////////////////////////////////////////// @using (Ajax.BegiForm()*@
    <form asp-controller="Home" 
    asp-action="PostJson" 
    data-ajax="true" 
    data-ajax-failure="onFailed" 
    data-ajax-success="onSuccess"
    data-ajax-begin="OnBegin"
 data-ajax-method="POST">
<div>
    @Html.EditorFor(x=>x.Id)
    <br />
    @Html.EditorFor(x=>x.Name)

    <input type="submit" value="Save" class="btn btn-primary" />
</div>
<div id="loader" style="position:absolute">
    <img src="~/resources/loading.gif" />
</div>
</form>
@*/////////////////////////////////////////////////// @using (Ajax.BegiForm()*@

@*/////////////////////////////////////////////////// @Ajax.ActtionLink()*@
<div>
   <a data-ajax="true"
                       data-ajax-loading="#loader"
                       data-ajax-mode="replace"
                       data-ajax-update="#list"
                       href='@Url.Action("Countries", "Home")'
                       class="TopIcons">Countries
                        </a>
                        <br /><br />
                        <a data-ajax="true"
                       data-ajax-loading="#loader"
                       data-ajax-mode="replace"
                       data-ajax-update="#list"
                       href='@Url.Action("States", "Home")'
                       class="TopIcons">States
                        </a>
                        <br /><br />
                        <a data-ajax="true"
                       data-ajax-loading="#loader"
                       data-ajax-mode="replace"
                       data-ajax-update="#list"
                       href='@Url.Action("Cities", "Home")'
                       class="TopIcons">Cities
                        </a>
</div>

<div id="list">

</div>
@*/////////////////////////////////////////////////// @Ajax.ActtionLink()*@



</div>
<script>
        var loader = $("#loader");
        loader.hide()
        var OnBegin = function(){
            loader.show()
        }
       
        var onSuccess = function(context){
        console.log(context)
       // alert("done 2")
        loader.hide()
        };
        var onFailed = function(context){
        alert("Failed");
        };
    //function btnClick(){
    //    $.ajax({
    //        url: "/home/getjson",
    //        method:"GET",
    //        success: function (data){
    //            console.log(data);
    //            data = JSON.parse(data);
    //            console.log(data); 
    //        },
    //        error: function(err){
    //            console.log(err)
    //        }

    //    })
    
        
    //}
    //function submitClick(){
    //        var obj = {
    //            Id:$("#Id").val(),
    //            Name:$("#Name").val()
    //        }
            
    //        submitData(obj)
    //    }
    // function submitData(obj){
    //    $.ajax({
    //        url: "/home/setjson",
    //        method:"POST",
    //        data: obj,
    //        success: function (data){
    //            console.log(data);
                
    //        },
    //        error: function(err){
    //            console.log(err)
    //        }

    //    })
    //    }
       
</script>


