
@{
    ViewBag.Title = "ResetPassword";
}
@model User
<h2>ResetPassword</h2>

@*@Model.UserName
    @ViewBag.Token*@

@ViewBag.ErrMsg


@using (Html.BeginForm("ResetPassword", "Account"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div class="form-group">
        @Html.Label("New Password", new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        <input type="hidden" name="token" value="@ViewBag.Token"/>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.OneTimePassword, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.OneTimePassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OneTimePassword)
        </div>*@

    <div class="form-group">
        <input type="submit" value="Reset Password" class="btn btn-primary" />
    </div>
}

